{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src", "./node_modules"],
        "alias": {
          "test": "./test"
        }
      }
    ]
  ]
}
